/*para não aumentar o elemento ao usar padding*/
*{
	box-sizing: border-box;
	
}
body {
	margin:0px; /*tira a borda automatica do navegador*/
	background-color: black;
}

a {
	text-decoration: none; /*tira o underline de todos os links*/
}



/*cabeçalho*/
.header {
	background-color: 1D1B1D;
	height:100px;
	display:flex;
	align-items:center;
	
}
.header ion-icon {
	font-size: 30px;
	}

.header img{ /*logo*/
	float:left;
	display:flex;
	margin-right:5px;
	width: 350px;
	height: 80px;
}

.header a{  /*links do cabeçalho*/
    display: flex;
	width: 150px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding:0px;
	float:left;
	height: 100px;
	color:white;
	transition-duration: 0.5s;
	overflow:hidden;
	align-items:center;
	justify-content:center;
}
.header a:hover{ /*passar o mouse por cima*/
	transform:translateX(7px);
	color: DDBADD;
	cursor:pointer;
	box-shadow: inset 0px -3px purple;
}




/*primeira imagem*/
.imagem-container {
	background-image: linear-gradient(0deg, rgba(6,4,3,1) 5%, rgba(95,53,128,0.5) 70%), url("imagem/home/academia.png"); /*degradê para preto*/
	background-size: cover;   
	background-position:bottom;
	height:500px;
	width: 100%;
  
}
/*titulo nossas modalidades*/
.titulos {
	font-size: 70px;
    font-family: 'Poppins', sans-serif;
	text-align: center;
	color:white;
}

/*seção das aulas*/
/*quadrado que contem os 3 quadros de aula*/
.aulas-container {
	display: flex;
    flex-wrap: nowrap; /*para não mover o quadrado pra baixo*/
    margin-top:100px;
    border-radius: 5px;
	margin-left:1cm;  
    margin-right:1cm;
}

/*quadro de musculacao*/
.musculacao {
	background-image: url("imagem/home/musculacao.png");
	background-size: cover;
	background-position:center;
	height:500px;
	display: flex;
	margin-top: 100px;
	padding: 20px;
	width: 33.3%;
	text-decoration: none;
	transition-duration: 0.5s;
	margin-left: 10px;
	box-shadow: 0px 500px 0px 0px rgba(95,53,128,0.5) inset;
	align-items: center;
	justify-content: center;
}

.musculacao p {
	font-size: 70px;
	font-family: 'Signika Negative', sans-serif;
	padding:0px;
	text-align:center;
	color: white;
}

/*gambiarra pra fazer o texto aparecer*/
.musculacao a{
	color:rgba(0, 0, 0, 0); /*para esconder o texto de clique aqui para saber mais*/
	overflow: hidden;
	transition-duration: 0.5s;
	font-size: 70px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	height: 500px;
	width: 33,3%;
}

.musculacao:hover{
	transform: translatey(5px); /*efeito de mover pra cima*/
	
}

.musculacao a:hover{
	transform: translatey(5px);
	color:white; /*faz com que o texto apareça*/
}

/*quadro de luta igual o de musculacao*/
.luta{
	background-image: url("imagem/home/luta.png");
	background-size: cover;
	background-position:center;
	height:500px;
	display: flex;
	margin-top: 100px;
	padding: 20px;
	width: 33.3%;
	text-decoration: none;
	transition-duration: 0.5s;
	margin-left: 10px;
	box-shadow: 0px 500px 0px 0px rgba(95,53,128,0.5) inset;
	align-items: center;
	justify-content: center;
}
.luta p {
	font-size: 70px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: white;
}
.luta a{
	color:rgba(0, 0, 0, 0);
	overflow: hidden;
	transition-duration: 0.5s;
	font-size: 70px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	height: 500px;
	width: 33,3%;
}

.luta a:hover{
	transform: translatey(5px);
	color:white;
}
.luta:hover {
	transform: translatey(5px);
}
/*quadro de danca igual o de musculacao*/
.danca {
	background-image: url("imagem/home/danca.jpeg");
	background-size: cover;
	background-position:center;
	height:500px;
	display: flex;
	margin-top: 100px;
	padding: 20px;
	width: 33.3%;
	text-decoration: none;
	transition-duration: 0.5s;
	margin-left: 10px;
	box-shadow: 0px 500px 0px 0px rgba(95,53,128,0.5) inset;
	align-items: center;
	justify-content: center;
}
.danca p {
	font-size: 70px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: white;

}
.danca a{
	color:rgba(0, 0, 0, 0);
	overflow: hidden;
	transition-duration: 0.5s;
	font-size: 70px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	height: 500px;
	width: 33,3%;
}
.danca:hover{
	transform: translatey(5px);
}
.danca a:hover{
	transform: translatey(5px);
	color:white;
}
/*fim dos quadros*/





/*container dos planos*/
.planos-container{  
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
  border-radius: 5px;
  margin-left:1cm;
  margin-right:1cm;
}
/*imagem de fundo*/
.planos {    
  background-image: url("imagem/home/acad1.jpeg");
  background-size:cover;
  flex: 100%;
  background-color: 1D1B1D;
  padding: 20px;
  height:500px;
  transition-duration: 0.3s;
  box-shadow: 0px 500px 0px 0px rgba(95,53,128,0.7) inset; /*roxo por cima da imagem*/
}
.planos:hover{ /*passar o mouse por cima*/
	transform: translatey(5px);
}

.planos p.texto1{ /*texto*/
	font-size: 70px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	padding:40px;
	color: white;
}
.planos p.texto2 { /*texto de baixo*/
	font-size: 30px;
    font-family: 'Poppins', sans-serif;
	text-align: left;
	padding:40px;
	color: white;
}

.planos a{ /*tirar o sublinhado*/
	text-decoration: none;
}
.produtoslinks { /*container dos links abaixo do quadrado*/
    display:flex;
    flex: 100%;
    background-color: 1D1B1D; /*preto mais claro*/
    height:100px;
 
}
.produtoslinks a{ /*botões dos links*/
	border-top: 2px solid purple;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	display:flex;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	align-items: center;
	justify-content:center;
	height: 100px;
	width:33.3%;
	height: 100px;
	color:white;
	transition-duration: 0.5s;
}
.produtoslinks a:hover{ /*passar o mouse por cima do link*/
	background-color: purple;
	transform: scale(0.95); /*botao menor*/
	
}
/*fim dos planos*/






/*container dos produtos*/
.produtos-container {
	display: flex;
    flex-wrap: wrap;
    margin-top:100px;
    border-radius: 5px;
    margin-left:1cm;
    margin-right:1cm;
}
.produtos { /*imagem*/ 
	background-image: url("imagem/home/suplementos.jpg");
    background-size:cover;
    flex: 100%;
    padding: 20px;
    height:500px;
    transition-duration: 0.4s;
	box-shadow: 0px 500px 0px 0px rgba(95,53,128,0.7) inset; /*roxo por cima da imagem*/
	
}
.produtos p{ /*texto*/
	font-size: 70px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	padding:40px;
	color: white;
}
.produtos:hover{ /*passar mouse por cima*/
	transform: translatey(5px);
	transform: scale(0.98);
}
.produtos ul { /*config da lista de produtos*/
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	margin-top:-100px;
	margin-left: 50px;
	padding:40px;
	color: white;
}
/*fim do quadrado de produtos*/




/*container*/
.about-container {
	display: flex;
    flex-wrap: wrap;
    margin-top:100px;
    border-radius: 5px;
    margin-left:1cm;
    margin-right:1cm;

}

/*texto do sobre nos*/
}
.texto {
	background-color: 1D1B1D;
	display: flex;
	flex: 100%;
    padding: 20px;
    height:400px;
}
.texto p{
	display:flex;
	flex:100%;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding:40px;
    color: white;
}
/*fim do texto sobre nos*/




.footer-container {
	display: flex;
    flex-wrap: nowrap;
	margin-top: 250px;
	height:400px;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	overflow:hidden;
	
}

/*fundo*/
.footer {
	display:flex;
	background-color: grey;
    width: 100%;
    height:400px;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}
/*texto*/
.footer p{
	display:flex;
	font-size: 30px;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
    color: black;
	justify-content: center;
	align-items:center;
}

/*posicionar logos*/
.acontainer {
	display:flex;
	height: 100px;
	justify-content: space-around;
	align-items:center;
	width: 20%;
}

.footer ion-icon {
	color: black;
	font-size: 40px;
	transition-duration: 0.5s;
	justify-content: center;
	align-items:center;
}

.footer ion-icon:hover {
	transform: scale(1.3);
	opacity: 0.5;
}











/*tentativa de responsividade*/


/*config para telas menores que 800px*/
@media (max-width: 900px) {

.header {
	background-color: 1D1B1D;
	height:500px;
	display:flex;
	align-items:center;
	flex-direction: column;
	flex-wrap: wrap;
	
}
.header img{ /*logo*/
	float:left;
	display:flex;
	margin-right:5px;
	width: 350px;
	height: 80px;
}

.header a{  /*links do cabeçalho*/
    display: flex;
	width: 150px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding:0px;
	float:left;
	height: 100px;
	color:white;
	transition-duration: 0.5s;
	overflow:hidden;
	align-items:center;
	justify-content:center;
}
.header a:hover{ /*passar o mouse por cima*/
	transform:translateX(7px);
	color: DDBADD;
	cursor:pointer;
	box-shadow: inset 0px -3px purple;
}





.produtoslinks {
    display:flex;
    flex: 50%;
	flex-direction: column;
    height:100px;
	margin-bottom: 100px;
	margin-top: 300px;
	background-color: black;
	gap: 50px;
	align-items: center;
	justify-content:center;
	
}
.produtoslinks a{
    border-top: 0px solid purple;
	flex-direction: column;
	font-size: 35px;
}
.produtoslinks a:hover{
	background-color: black;
	box-shadow: inset 0px -3px white;
}

p.texto2{
	  display:none;
}
.about-container {
	display: flex;
    flex-wrap: wrap;
    margin-top:100px;
    border-radius: 5px;
    margin-left:1cm;
    margin-right:1cm;

}

.produtos ul { /*config da lista de produtos*/
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	text-align: left;
	margin-top:-150px;
	margin-left: 50px;
	padding:40px;
	color: white;
}

h1.titulos {
	margin-top: 200px;
}

.texto p{
	font-size: 20px;
	
}
.produtos ul{
	font-size:30px;
}
.musculacao p {
	font-size: 20px;

}
.luta p {
	font-size: 20px;

}
.danca p {
	font-size: 20px;

}

}



	

	
	




	
	