*{
	box-sizing: border-box;
	
}
body {
	margin:0px;
	background-color: black;
}
a {
	text-decoration: none;
}


.header {
	background-color: 1D1B1D;
	height:100px;
	margin-top: 0px;
	

}
.header img{
	float:left;
	display:flex;
	margin-top: 10px;
	margin-right:5px;
	width: 350px;
	height: 80px;
}
	
.header a{
	font-size: 20px;
	font-family: Verdana, sans-serif;
	text-align: center;
	padding:40px;
	float:left;
	height: 100px;
	color:white;
	transition-duration: 0.5s;
	overflow:hidden;
}
.header a:hover{
	background-color:Purple;
	transform:translateX(5px);
	
}
.imagem-container {
	background-image: linear-gradient(0deg, rgba(6,4,3,1) 10%, rgba(0,0,0,0.2) 100%), url("imagem/home/academia.png");
	background-size: cover;
	background-position:bottom;
	height:500px;
	display: flex;
	margin-top: 100px;
	padding: 20px;
	width: 100%;
	text-decoration: none;
	transition-duration: 0.5s;
  
}
.imagem {
	background: url("imagem/home/academia.png");
}
	


.titulos {
	font-size: 70px;
	font-family: Trebuchet MS, sans-serif;
	text-align: center;
	margin-bottom: -70px;
	color:white;
}
.aulas-container {
	display: flex;
    flex-wrap: nowrap;
    margin-top:100px;
    border-radius: 5px;
	margin-left:1cm;
    margin-right:1cm;
  
}

.musculacao {
	background-image: url("imagem/home/musculacao.png");
	background-size: cover;
	background-position:center;
	height:500px;
	display: flex;
	margin-top: 100px;
	padding: 20px;
	width: 33.3%;
	text-decoration: none;
	transition-duration: 0.5s;
	
}
.musculacao p {
	font-size: 70px;
	font-family: Trebuchet MS, sans-serif;
	text-align: left;
	padding:10px;
	color: white;
	background-color: rgba(128,0,128,0.8);
}
.musculacao a{
	color:rgba(0, 0, 0, 0);
	overflow: hidden;
	transition-duration: 0.5s;
	font-size: 70px;
	font-family: Trebuchet MS, sans-serif;
	text-align: left;
}

.musculacao:hover{
	transform: translatey(5px);
	
}

.musculacao a:hover{
	transform: translatey(5px);
	color:white;
}

.luta{
	background-image: url("imagem/home/luta.png");
	background-size: cover;
	background-position:center;
	height:500px;
	display: flex;
	margin-top: 100px;
	padding: 20px;
	width: 33.3%;
	text-decoration: none;
	transition-duration: 0.5s;
	margin-left: 10px;
}
.luta p {
	font-size: 70px;
	font-family: Trebuchet MS, sans-serif;
	text-align: center;
	padding:10px;
	color: white;
	background-color: rgba(128,0,128,0.8);
}
.luta a{
	color:rgba(0, 0, 0, 0);
	overflow: hidden;
	transition-duration: 0.5s;
	font-size: 70px;
	font-family: Trebuchet MS, sans-serif;
	text-align: left;
}

.luta a:hover{
	transform: translatey(5px);
	color:white;
	
}


.luta:hover {
	transform: translatey(5px);
}

.danca {
	background-image: url("imagem/home/danca.jpeg");
	background-size: cover;
	background-position:center;
	height:500px;
	display: flex;
	margin-top: 100px;
	padding: 20px;
	width: 33.3%;
	text-decoration: none;
	transition-duration: 0.5s;
	margin-left: 10px;

}
.danca p {
	font-size: 70px;
	font-family: Trebuchet MS, sans-serif;
	text-align: center;
	padding:10px;
	color: white;
	background-color: rgba(128,0,128,0.8);
}
.danca a{
	color:rgba(0, 0, 0, 0);
	overflow: hidden;
	transition-duration: 0.5s;
	font-size: 70px;
	font-family: Trebuchet MS, sans-serif;
	text-align: left;
}

.danca:hover{
	transform: translatey(5px);
	
}

.danca a:hover{
	transform: translatey(5px);
	color:white;
}


.danca:hover{
	transform: translatey(5px);
}


	
.planos-container{  
  display: flex;
  flex-wrap: wrap;
  margin-top:100px;
  border-radius: 5px;
  margin-left:1cm;
  margin-right:1cm;

  
}

.planos {    
  background-image: url("imagem/home/acad1.jpeg");
  background-size:cover;
  flex: 100%;
  background-color: 1D1B1D;
  padding: 20px;
  height:500px;
  transition-duration: 0.3s;
  box-shadow: 0px 500px 0px 0px rgba(95,53,128,0.7) inset;
}
.planos:hover{
	transform: translatey(5px);
}


.planos p.texto1{
	font-size: 70px;
	font-family: Trebuchet MS, sans-serif;
	text-align: left;
	padding:40px;
	color: white;
}
.planos p.texto2 {
	font-size: 30px;
    font-family: Trebuchet MS, sans-serif;
	text-align: left;
	padding:40px;
	color: white;
}

.planos a{
	text-decoration: none;
}
.planoslinks {
    display:flex;
    flex: 100%;
    background-color: 1D1B1D;
    height:100px;
 
}
.planoslinks a{
	border-top: 2px solid purple;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
	display:flex;
	font-size: 20px;
	font-family: Verdana, sans-serif;
	text-align: center;
	height: 100px;
	padding: 40px 40px 40px 180px;
	width:33.3%;
	height: 100px;
	color:white;
	transition-duration: 0.5s;
	
	
}
.planoslinks a:hover{
	background-color: purple;
	transform: scale(0.95);
	
}

.produtos-container {
	display: flex;
    flex-wrap: wrap;
    margin-top:100px;
    border-radius: 5px;
    margin-left:1cm;
    margin-right:1cm;
	margin-bottom:50px;
  
}
.produtos {
	background-image: url("imagem/home/suplementos.jpg");
    background-size:cover;
    flex: 100%;
    background-color: 1D1B1D;
    padding: 20px;
    height:500px;
    transition-duration: 0.6s;
	box-shadow: 0px 500px 0px 0px rgba(95,53,128,0.7) inset;
	
}

.produtos p{
	font-size: 70px;
	font-family: Trebuchet MS, sans-serif;
	text-align: left;
	padding:40px;
	color: white;
}
.produtos:hover{
	transform: translatey(5px);
	transform: scale(0.98);
}
	
.produtos ul {
	font-size: 40px;
	font-family: Trebuchet MS, sans-serif;
	text-align: left;
	margin-top:-100px;
	margin-left: 50px;
	padding:40px;
	color: white;
}


.about-container {
	display: flex;
    flex-wrap: wrap;
    margin-top:100px;
    border-radius: 5px;
    margin-left:1cm;
    margin-right:1cm;

}

.about {
	display: flex;
    flex-wrap: wrap;
    margin-top:100px;
    border-radius: 5px;
    margin-left:1cm;
    margin-right:1cm;
}

.about p{
	margin:20px;
	display:flex;
	font-size: 80px;
	font-family: Trebuchet MS, sans-serif;
    color: white;
	margin-left: 305px;
	

}
.texto {
	background-color: 1D1B1D;
	display: flex;
	flex: 100%;
    padding: 20px;
    height:400px;
}
.texto p{
	display:flex;
	flex:100%;
	font-size: 30px;
	font-family: Trebuchet MS, sans-serif;
	text-align: center;
	padding:40px;
    color: white;
}

.footer-container {
	display: flex;
    flex-wrap: wrap;
	margin-top: 250px;
	height:400px;
}


.footer {
	background-color: 1D1B1D;
    flex: 100%;
    height:400px;
    transition-duration: 0.6s;
}

.footer p{
	display:flex;
	flex:100%;
	font-size: 30px;
	justify-content: center;
	font-family: Trebuchet MS, sans-serif;
    color: black;
}
.footer img{
	width: 50px;
	height: 50px;
	margin-right: 40px;
	transition-duration: 0.5s;
}

.footer img:hover{
	transform: scale(1.3);
	opacity: 0.5;
}

.footer ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap:20px;
	list-style: none;
	padding:0x;
}













@media (max-width: 800px) {
.planoslinks {
    display:flex;
    flex: 50%;
	flex-direction: column;
    height:100px;
	margin-bottom: 100px;
	margin-top: 100px;
}
.planoslinks a{
    border-top: 0px solid purple;
	flex-direction: column;
}

p.texto2{
	  display:none;
}
.about p{
	float:left;
	margin:0px;

}

.texto p{
	font-size: 20px;
	
}
.produtos ul{
	font-size:30px;
}
.musculacao p {
	font-size: 20px;

}
.luta p {
	font-size: 20px;

}
.danca p {
	font-size: 20px;

}

}



	

	
	




	
	