/*para não aumentar o elemento ao usar padding*/
*{
	box-sizing: border-box;
	
}
body {
	margin:0px; /*tira a borda automatica do navegador*/
	background-color: black;
}

a {
	text-decoration: none; /*tira o underline de todos os links*/
}




/*cabeçalho*/
.header {
	background-color: 1D1B1D;
	height:100px;
	display:flex;
	align-items:center;
	
}
.header ion-icon {
	font-size: 30px;
	}

.header img{ /*logo*/
	float:left;
	display:flex;
	margin-right:5px;
	width: 350px;
	height: 80px;
}

.header a{  /*links do cabeçalho*/
    display: flex;
	width: 150px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding:0px;
	float:left;
	height: 100px;
	color:white;
	transition-duration: 0.5s;
	overflow:hidden;
	align-items:center;
	justify-content:center;
}
.header a:hover{ /*passar o mouse por cima*/
	transform:translateX(7px);
	color: DDBADD;
	cursor:pointer;
	box-shadow: inset 0px -3px purple;
}


.suplementos {
	background-image: linear-gradient(0deg, rgba(6,4,3,1) 5%, rgba(95,53,128,0.5) 70%), url("imagem/produtos/suplementos.png");
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 460px;
	margin-bottom: 100px;
}
.suplementos p {
	font-size: 90px;
	font-family: 'Poppins', sans-serif;
	color: white;
}


.container {
	display:flex;
	flex-wrap: nowrap;
	flex-direction: row;
}
.lado {
	flex-wrap: wrap;
	display:flex;
	flex: 25%;
	flex-direction: column;
	background-color: 1D1B1D;
	height: 42cm;
	margin-left: 1cm;
	align-items: center;
	justify-content: flex-start;
	gap:10px;
	text-align: left;
	border: 2px solid purple;
}
.procurar {
	margin-top:50px;
}

.procurar input[type=text] {
	height: 50px;
	border: none;
	display: inline-flex;


}
.procurar button {
	background-color: purple;
	float: right;
    border: none;
    cursor: pointer;
	height: 50px;
	width: 50px;
	transition-duration: 0.5s;
}
.procurar button:hover {
	background-color: white;
}

.lado h1 {
	background-color: Purple;
	font-size: 40px;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color:white;
}


.lado p{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color:white;
	margin:0px;

}
.lado p:hover{
	text-decoration: underline;
	transform: scale(1.1);
	cursor: not-allowed;
}


	



.principal {
	flex-wrap: wrap;
	display:flex;
	flex: 25%;
	flex-direction: column;
	background-color: 1D1B1D;
	height: 42cm;
	margin-left: 1cm;
	align-items: center;
	
}
.principal2 {
	flex-wrap: wrap;
	display:flex;
	flex: 25%;
	flex-direction: column;
	background-color: 1D1B1D;
	height: 42cm;
	align-items: center;

	
}
.principal3 {
	flex-wrap: wrap;
	display:flex;
	flex: 25%;
	flex-direction: column;
	background-color: 1D1B1D;
	height: 42cm;
	align-items: center;
	margin-right: 1cm;
	
}


.produto {
	display: flex;
	flex-direction: column;
	background-color: black;
	height:200px;
	width: 250px;
	text-decoration: none;
	transition-duration: 0.5s;
	align-items: center;
	justify-content: center;
	border-right: 2px solid purple;
	border-top: 2px solid purple;
	border-left: 2px solid purple;
	margin-top: 50px;


}

.produto img {
	width: 150px;
	height: 150px;
	transition-duration: 0.5s;
}
.produto img:hover{
	transform: scale(2.0);
	
}

.produto p {
	color:white;
	font-size: 20px;
}

.promo {
	background-color: dodgerblue;
	padding: 5px 10px;
	font-family: Arial, sans-serif;
	border-radius: 10px;
	margin-top: -25px;

}

.produtodesc {
	display: flex;
	flex-direction: column;
	background-color: black;
	height:250px;
	width: 250px;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	transition-duration: 0.5s;
	border-right: 2px solid purple;
	border-left: 2px solid purple;
	border-bottom: 2px solid purple;
}

.produtodesc p {
	text-align: center;
	margin-top: 0px;
	color:white;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
}

.produtodesc p.preco {
	margin-top: 0px;
	color:white;
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	
}

.button {
	display: flex;
	height: 50px;
	padding: 0;
	background: Purple;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	cursor: pointer;
	transition-duration: 0.2s;

}

.button:hover {
	background-color: #F30F37;
	transform: scale(1.1);
}


.button-texto,
.button-icone {
	display: inline-flex;
	align-items: center;
	padding: 0 20px;
	color: white;
	height: 100%;
	font-size: 20px;
}

.button-icone {
	font-size: 30px;
	background-color: rgba(0,0,0,0.2);
}

.pagamento {
	display:flex;
	margin-right: 1cm;
	margin-left: 1cm;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: 330922;
	height: 70px;
	margin-bottom: 50px;
}
p.pag{
	text-align: center;
	margin-top: 0px;
	color:white;
	font-size: 25px;
	font-family: Arial, sans-serif;
	margin-top: 50px;
}
.pagamento img {
	width: 75px;
	height: 50px;
}

p.textosup{
	text-align: center;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	color: white;
	margin-left: 2cm;
	margin-right: 2cm;
	background-color: rgba(95,53,128,0.2);
	padding: 40px;
}

.voltar {
	width: 100%;
	display:flex;
	height: 100px;
	align-items:center;
	justify-content: flex-start;
	gap: 30px;
	margin-bottom: 50px;
	margin-top: 50px;
}


.voltar a{
	display:flex;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
	color: black;
	width: 10%;
	height: 60px;
	margin-left: 100px;
	align-items:center;
	justify-content:center;
	background-color: white;
	border-radius: 50px;
	transition: 0.5s;
}

.voltar a:hover {
	transform: scale(0.9);
}
















































.footer-container {
	display: flex;
    flex-wrap: nowrap;
	margin-top: 250px;
	height:400px;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	overflow:hidden;
	
}

/*fundo*/
.footer {
	display:flex;
	background-color: grey;
    width: 100%;
    height:400px;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}
/*texto*/
.footer p{
	display:flex;
	font-size: 30px;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
    color: black;
	justify-content: center;
	align-items:center;
}

/*posicionar logos*/
.acontainer {
	display:flex;
	height: 100px;
	justify-content: space-around;
	align-items:center;
	width: 20%;
}

.footer ion-icon {
	color: black;
	font-size: 40px;
	transition-duration: 0.5s;
	justify-content: center;
	align-items:center;
}

.footer ion-icon:hover {
	transform: scale(1.3);
	opacity: 0.5;
}





@media (max-width: 900px) {
	
	.header {
	background-color: 1D1B1D;
	height:500px;
	display:flex;
	align-items:center;
	flex-direction: column;
	flex-wrap: wrap;
	
}
.header img{ /*logo*/
	float:left;
	display:flex;
	margin-right:5px;
	width: 350px;
	height: 80px;
}

.header a{  /*links do cabeçalho*/
    display: flex;
	width: 150px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding:0px;
	float:left;
	height: 100px;
	color:white;
	transition-duration: 0.5s;
	overflow:hidden;
	align-items:center;
	justify-content:center;
}
.header a:hover{ /*passar o mouse por cima*/
	transform:translateX(7px);
	color: DDBADD;
	cursor:pointer;
	box-shadow: inset 0px -3px purple;
}
	
	
	
	
	
	
	
	
	
	
}